body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
}

.control-keys {
    position: absolute;
    width: 10rem;
    left: 5%;
    bottom: 5%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.github-logo {
    position: absolute;
    height: 5%;
    left: 45%;
    bottom: 5%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.uit-logo {
    position: absolute;
    height: 5%;
    right: 45%;
    bottom: 5%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.measurement-chart {
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: rgb(0, 0, 0, 0.33);
    color: lightyellow;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    font-family: monospace;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.info-chart {
    width: 25%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgb(0, 0, 0, 0.8);
    color: lightyellow;
    font-size: 10pt;
    text-indent: 0.5cm;
    padding-left: 20pt;
    padding-right: 15pt;
    padding-top: 20pt;
    padding-bottom: 10pt;
    font-family: sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div.message {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    background-color: rgb(0, 0, 0, 0.9);
    color: lightyellow;
    font-size: 13pt;
    text-align: center;
    padding-left: 20pt;
    padding-right: 15pt;
    padding-top: 20pt;
    padding-bottom: 10pt;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0, 0, 0, 0.33);
    font-size: 13pt;
    text-align: center;
    padding-left: 20pt;
    padding-right: 15pt;
    padding-top: 20pt;
    padding-bottom: 10pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.info-chart p {
    padding-bottom: 10pt;
    text-align: justify;
    text-justify: auto;
}

.info-chart img {
    margin: auto;
    display: block;
    padding-top: 10px;
    max-width: 300px;
    max-height: 300px;
}

.chart-title {
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 10pt;
    text-indent: 0%;
}

.chart-title a {
    color: white;
    text-decoration: none;
}

.chart-close-button {
    position: absolute;
    top: 0%;
    right: 0%;
    color: white;
    padding-right: 9pt;
    padding-top: 3pt;
    padding-bottom: 3pt;
    font-family: monospace;
    user-select: none;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
